.heading
{
   font-size: 23px;
   margin: 0px;
   width: 100%;
   box-shadow: 5px 5px 38px purple;
}
.note
{
    font-size: 15px;
    color: black;
}
.copy_right_footer
{
    position: fixed;
    color:white;
    width: 100%;
    background-color: grey;
    text-align: center;
    line-height: 3;
    bottom: 0;
}
canvas
{
    border: solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue;
}